:root {
  --bg: #2e2e3a;
  --powers-bg: #3e3e50;
  --text-primary: #ffba30;
  --text-secondary: #fb8500;
  --blue-border: rgb(77, 157, 255);
  --light-blue-border: rgb(0, 195, 255);
  --success: #2ec4b6;
}

html {
  font-size: 16px;
  box-sizing: border-box;
}

body {
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  background-color: var(--bg);
  min-height: 100dvh;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.game-area {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

label {
  color: var(--text-primary);
  font-size: 1rem;
  margin-bottom: 5px;
  width: fit-content;
  display: inline;
}

input[type='text'] {
  padding: 10px;
  border: 1px solid var(--blue-border);
  border-radius: 5px;
  font-size: 1rem;
  width: 200px;
  margin-bottom: 10px;
  color: var(--text-primary);
  background-color: var(--bg);
}

dialog {
  font-family: 'Press Start 2P', monospace;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
  background-color: var(--bg);
  border: none;
  z-index: 1;

  & > div {
    color: var(--text-primary);
    display: flex;
    border: none;
    border-radius: 10px;
    padding: 30px;
    flex-direction: column;
    gap: 10px;
    text-align: center;
  }

  h1,
  h2 {
    margin-bottom: 15px;
  }

  .current-score {
    font-size: 0.8rem;
  }

  ul {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: var(--text-primary);
    list-style: none;
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 20px;

    & > li {
      display: flex;
      align-items: center;
      gap: 10px;

      & > img {
        float: left;
        width: 30px;
        height: 30px;
      }
    }
  }
}

.players-labels {
  font-family: 'Press Start 2P', monospace;
  font-size: 0.8rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  margin-bottom: 10px;
  border: 1px solid var(--blue-border);
  padding: 10px;

  & span {
    color: var(--success);
    font-size: 1rem;
    user-select: none;

    &:first-of-type {
      margin-left: 30px;
      margin-right: auto;
    }

    &:last-of-type {
      margin-right: 30px;
      margin-left: auto;
    }
  }
}

#board {
  position: relative;
  margin-bottom: 20px;
  max-width: 100dvw;
  overflow-x: auto;
  overflow-y: hidden;
}

tbody,
tr,
td {
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  touch-action: manipulation;
}

table {
  font-family: 'Press Start 2P', monospace;
  border-collapse: collapse;
  margin-inline: 10px;

  tbody {
    :hover {
      cursor: pointer;
    }

    tr:not(:last-child) > td {
      border-bottom: 8px solid var(--light-blue-border);
    }

    tr > td:not(:last-child) {
      border-right: 8px solid var(--light-blue-border);
    }

    tr > td {
      min-width: 6rem;
      min-height: 6rem;
      width: 6rem;
      height: 6rem;
      text-align: center;
      vertical-align: middle;
      font-size: 4rem;
      font-weight: 800;

      &.primary {
        color: var(--text-primary);
      }

      &.secondary {
        color: var(--text-secondary);
      }

      &.animate {
        animation: pop 0.5s ease-out;
      }

      &.explode {
        animation: explode 1s ease-out;
      }
    }
  }
}

.winner {
  text-align: center;
}

.winner-marker {
  visibility: hidden;
  position: absolute;
  width: 5px;
  height: 5px;
  background-color: var(--success);
  transition:
    width 1s ease-out,
    height 1s ease-out;
}

h1,
h2,
h3 {
  margin: 0;
}

h1 {
  color: var(--text-primary);
}

h2 {
  color: var(--success);
}

#player1-label {
  color: var(--text-primary);
}

#player2-label {
  color: var(--text-secondary);
}

button {
  background-color: var(--bg);
  color: var(--text-primary);
  border: 1px solid var(--success);
  border-radius: 10px;
  font-size: 1.2rem;
  padding: 0.5rem;
  margin-bottom: 10px;

  &.secondary {
    border-color: var(--text-secondary);

    &:hover:not(:disabled) {
      color: var(--bg);
      background-color: var(--text-secondary);
    }
  }

  &:hover:not(:disabled) {
    color: var(--bg);
    background-color: var(--text-primary);
  }

  &:disabled {
    opacity: 0.5;
    cursor: not-allowed;
  }
}

.hidden {
  display: none;
}

.powers {
  margin-top: 15px;
  text-align: center;
  width: 100%;
}

.powers-row {
  display: flex;
  justify-content: center;
  padding: 5px 0;
  gap: 30px;
  margin-top: 5px;
  background-color: var(--powers-bg);

  img {
    width: 50px;
    height: 50px;
    cursor: pointer;
    opacity: 0.4;
    transition: opacity 0.3s ease-in-out;

    &.active {
      opacity: 1;
    }

    &:hover {
      transform: scale(1.1);
    }
  }
}

#help-button {
  width: 40px;
  height: 40px;
  border-radius: 25px;
  margin-top: 10px;
}

@keyframes pop {
  0% {
    transform: scale(0.6);
    opacity: 0;
  }
  80% {
    transform: scale(1.1);
    opacity: 1;
  }
  100% {
    transform: scale(1);
  }
}

@keyframes explode {
  0% {
    transform: scale(0.2);
    opacity: 1;
  }
  100% {
    transform: scale(1);
    opacity: 0;
  }
}
